<% unless @name['data']['stats']['all']['duo'] == nil%>
  <div class='stat_table'>
    <div class='stat_header'>
    Duo
    </div>
    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Score:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['duo']['score'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Score per minute:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['duo']['scorePerMin'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Score per match:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['duo']['scorePerMatch'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Wins:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['duo']['wins'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Top 5:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['duo']['top5'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Top 12:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['duo']['top12'] %>
      </div>
    </div>

     <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Kills:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['duo']['kills'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Kills per minute:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['duo']['killsPerMin'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Kills per match:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['duo']['killsPerMatch'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Deaths:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['duo']['deaths'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'K/D Ratio:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['duo']['kd'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Matches:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['duo']['matches'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Win Rate:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['duo']['winRate'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Minutes played:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['duo']['minutesPlayed'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Players Out Lived:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['duo']['playersOutlived'] %>
      </div>
    </div>
  </div>
<% end %>