<% unless @name['data']['stats']['all']['squad'] == nil %>
  <div class='stat_table'>
    <div class='stat_header'>
    Squad
    </div>
    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Score:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['squad']['score'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Score per minute:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['squad']['scorePerMin'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Score per match:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['squad']['scorePerMatch'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Wins:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['squad']['wins'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Top 3:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['squad']['top3'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Top 6:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['squad']['top6'] %>
      </div>
    </div>

     <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Kills:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['squad']['kills'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Kills per minute:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['squad']['killsPerMin'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Kills per match:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['squad']['killsPerMatch'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Deaths:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['squad']['deaths'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'K/D Ratio:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['squad']['kd'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Matches:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['squad']['matches'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Win Rate:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['squad']['winRate'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Minutes played:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['squad']['minutesPlayed'] %>
      </div>
    </div>

    <div class='stat_row'>
      <div class='stat_cell'>
       <%= 'Players Out Lived:' %>
      </div>
      <div class = 'stat_cell'>
        <%=  @name['data']['stats']['all']['squad']['playersOutlived'] %>
      </div>
    </div>
  </div>
<% end %>