<h1>Pages#index</h1>


<%= form_with(url: "/", method: 'get')  do |form| %>
  <div>
    <%= form.label :Search %>
    <%= form.text_field :query %>
    <%= form.submit  "Search" %>
  </div>
<% end %>

<% if @response %>
  <div>
    <%= @response.body %>
  </div>
<% end %>
